img {
  width: 50%;
  border-radius: 50%;
  min-width: 250px;
}

@media(max-width: 768px) {
  img {
    width: 200px;
    min-width: none;
    margin-top: 30px;
  }

  .contact {
    text-align: center;
  }
}
