body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.container {
  -webkit-animation: fade-in 1s;
  -moz-animation: fade-in 1s;
  -o-animation: fade-in 1s;
  -ms-animation: fade-in 1s;
  animation: fade-in 1s;
}

.jumbotron {
  color: #ccc;
  background-color: #222;
  background-position: center bottom;
  background-size: cover;
  height: 600px;
  -o-transition: background .5s ease-in-out;
  -ms-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;

  -webkit-animation: fade-in 1s;
  -moz-animation: fade-in 1s;
  -o-animation: fade-in 1s;
  -ms-animation: fade-in 1s;
  animation: fade-in 1s;
}
.jumbotron.home {
  background-image: url('/assets/img/manhattan-skyline.jpg');
}
.jumbotron.resume {
  background-image: url('/assets/img/lines-of-code.jpg');
}

.jumbotron header {
  margin-top: 150px;
}
@media(max-width: 768px) {
  .jumbotron {
    height: 400px;
  }
  .jumbotron header {
    margin-top: 100px;
  }
}

.jumbotron h1,
.jumbotron h2 {
  font-weight: 300;
}

@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.nav > li > a {
  color: #ccc;
  border: 2px transparent solid;
  border-radius: 0;
  font-size: 16px;
  padding: 10px 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.nav > li > a.active,
.nav > li > a.router-link-active {
  font-size: 16px;
  color: #eee;
  border: 2px #eee solid;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
  color: #eee;
  border: 2px #eee solid;
}

.navbar .dropdown-menu {
  background-color: #222;
  font-size: 16px;
  opacity: .8;
  left: auto;
  right: 0;
  display: block;
  border-radius:0;
  border: 2px solid #eee;
  padding: 0px;
  margin-right: 15px;
}

.navbar .dropdown-menu > li:first-child > a {
  padding-top:12px;
  margin-top:0;
}
.navbar .dropdown-menu > li:last-child > a {
  padding-bottom: 12px;
  margin-bottom: 0;
}

.navbar .dropdown-menu > li > a {
  color: #ccc;
  padding: 10px 15px;
  margin: 1px 0;
}
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-menu > li > a.active,
.navbar .dropdown-menu > li > a.router-link-active {
  background-color:#eee;
  color: #222;
}

footer.page-footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

a .fa {
  color: #222;
}

a:hover .fa {
  color: #999;
}

a,
a .fa {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

section {
  margin-bottom: 75px;
}

at:after {
  content: '@';
}

