footer.page-footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

a .fa {
  color: #222;
}

a:hover .fa {
  color: #999;
}

a .fa {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
